<div class="centered-container bg-white shadow-lg rounded-lg p-8 w-full max-w-lg mx-auto mt-10 border border-zinc-200 dark:bg-zinc-900 dark:border-zinc-800">
  <h2 class="text-2xl font-bold text-zinc-800 dark:text-zinc-300 mb-6">Change your password</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "space-y-5" }) do |f| %>
    <!-- Error Messages -->
    <%= render "devise/shared/error_messages", resource: resource %>
    
    <!-- Hidden Token Field -->
    <%= f.hidden_field :reset_password_token %>

    <!-- New Password Field -->
    <div>
      <%= f.label :password, "New password", class: "block text-sm font-medium text-zinc-800 dark:text-zinc-300" %>
      <% if @minimum_password_length %>
        <em class="text-xs text-zinc-500 dark:text-zinc-400 block mt-1">(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "mt-1 block w-full px-3 py-2 border border-zinc-300 rounded-md shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-zinc-950 dark:border-zinc-600 dark:placeholder-zinc-400 dark:text-zinc-300" %>
    </div>

    <!-- Confirm New Password Field -->
    <div>
      <%= f.label :password_confirmation, "Confirm new password", class: "block text-sm font-medium text-zinc-800 dark:text-zinc-300" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "mt-1 block w-full px-3 py-2 border border-zinc-300 rounded-md shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-zinc-950 dark:border-zinc-600 dark:placeholder-zinc-400 dark:text-zinc-300" %>
    </div>

    <!-- Submit Button -->
    <div class="flex justify-end">
      <%= f.submit "Change my password", class: "btn primary w-full lg:w-auto px-6 py-2 rounded-md bg-primary-600 text-white hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500" %>
    </div>
  <% end %>

  <!-- Devise Links -->
  <div class="mt-4 text-sm text-zinc-500 dark:text-zinc-400">
    <%= render "devise/shared/links" %>
  </div>
</div>