<header class="flex flex-col lg:flex-row justify-between px-8 pb-6 border-b border-gray-200 dark:border-gray-800">
    <h1 class="text-3xl font-bold" title="<%= @report.query %>"><%= @report.query.truncate_words(6).titleize %></h1>
    <div class="text-sm flex flex-col text-gray-500 dark:text-gray-400">
        <% if @report.region.present? %>
        <div>Region: <strong><%= @report.region.titleize %></strong></div>
        <% end %>
        <% if @report.cohort.present? %>
        <div>Cohort: <strong><%= @report.cohort %></strong></div>
        <% end %>
        <% if @report.brand_info.present? %>
        <div>Brand: <strong><%= @report.brand_info %></strong></div>
        <% end %>
    </div>
</header>