   <% health = presenter.brand_health %>
   <% ranks = presenter.ranks %>

   <div class="py-8 pb-16">
       <div class="flex flex-col lg:flex-row max-w-screen-xl mx-auto px-8  space-x-8">
           <%# Left Section (Text Content) %>
           <div class="flex-1 place-self-center px-8">
               <%# Main Heading %>
               <h1 class="max-w-2xl mb-4 text-4xl tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white">
                   Your health is <span class="font-extrabold drop-shadow-lg text-primary-600"><%= health.indicator %></span>
               </h1>

               <% logo = logo_image(@report.brand_info, css_classes: "object-contain") %>
               <h2 class="max-w-2xl mb-4 text-2xl tracking-tight leading-none md:text-3xl xl:text-4xl dark:text-white flex items-center">
                   <div>
                       <%= health.indicator_remarks %>
                   </div>
               </h2>

               <%# Health Remarks %>
               <div class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">
                   <%= health.remarks %>
               </div>

               <%# Call to Action / Next Steps %>
               <div class="text-sm text-left text-gray-500 dark:text-gray-300 mt-4">
                   Follow along to understand <span class="font-bold">what you can do about it.</span>
               </div>
           </div>


           <%# Right Section: ranks %>
           <% ranks = presenter.ranks %>
           <% if ranks.any_rank_present? %>
           <div class="flex-1 flex flex-col lg:flex-row gap-4">
               <% ranks.relevant_ranks.each_with_index do |rank_type, index| %>
               <div class="flex-1 p-4 border border-gray-200 dark:border-gray-800 rounded-lg">
                   <div class="flex flex-col items-center justify-center h-full">
                       <h3 class="text-2xl font-bold text-gray-900 dark:text-white mb-2">
                           <%= ranks.rank_title(rank_type) %>
                       </h3>
                       <% if ranks.rank(rank_type).present? %>
                       <p class="text-6xl font-extrabold text-primary-600 dark:text-primary-400 mb-4">
                           #<%= ranks.rank(rank_type) %>
                       </p>
                       <p class="text-sm text-gray-500 dark:text-gray-400 text-center h-16">
                           <%= ranks.rank_remarks(rank_type) %>
                       </p>
                       <% else %>
                       <p class="text-6xl font-extrabold text-primary-600 dark:text-primary-400 mb-4">
                           N/A
                       </p>
                       <p class="text-sm text-gray-500 dark:text-gray-400 text-center h-16">
                           Is not among the marketleaders
                       </p>
                       <% end %>
                   </div>
               </div>
               <% end %>
           </div>
           <% else %>
           <div class="flex-1 flex items-center justify-center">
               <p class="hidden lg:block text-sm text-gray-500 dark:text-gray-400 text-center">
                   <%= image_tag("brand-health/neutral.svg", alt: "Brand Health Bad", class: "object-contain") %>
               </p>
           </div>
           <% end %>
       </div>
   </div>