<%= form_with(model: report, class: "centered-container") do |form| %>

  <% if report.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <ul>
        <% report.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :query, "What topic or search query do you want to analyze? *" %>
    <%= form.text_area :query, rows: 4, placeholder: "Example: 'safest cars for families'", required: true %>
  </div>

  <div>
    <%= form.label "advanced_settings[brand_info]", "What's your brand or product? *" %>
    <%= form.text_field "advanced_settings[brand_info]", placeholder: "Volvo XC40", required: true %>
  </div>

  <div>
    <%= form.label "advanced_settings[cohort]", "Describe your buyer persona" %>
    <%= form.text_area "advanced_settings[cohort]", rows: 4, placeholder: "Age range, location, income level, job title, interests, pain points, goals", required: false %>
  </div>

  <div>
    <%= form.label "advanced_settings[region]", "Choose a region to narrow the analysis" %>
      <%= form.select "advanced_settings[region]", 
                  grouped_options_for_select(region_options),
                  { class: "form-select", required: false } %>
  </div>

  <div class="flex flex-row justify-end lg:pt-10">
    <%= form.submit "Generate report", class: "btn primary" %>
  </div>
<% end %>