<%= form_with(model: report, class: "centered-container") do |form| %>

  <% if report.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <ul>
        <% report.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :query, "What topic or search query do you want to analyze? *" %>
    <%= form.text_area :query, rows: 2, placeholder: "Example: 'safest cars for families'", required: true %>
  </div>

  <div>
    <%= form.label :brand_info, "What's your brand or product? *" %>
    <%= form.text_field :brand_info, value: report.brand_info, placeholder: "Volvo XC40", required: true %>
  </div>

  <div>
    <%= form.label :cohort, "Describe your buyer persona" %>
    <%= form.text_area :cohort, rows: 2, value: report.cohort, placeholder: "Age range, location, income level, job title, interests, goals", required: false %>
  </div>

  <div>
    <%= form.label :region, "Choose a region to narrow the analysis" %>
      <%= form.select :region, 
                  grouped_options_for_select(region_options),                  
                  { required: false }, class: "form-select w-full lg:w-auto text-sm rounded-md" %>                  
  </div>

  <div class="flex flex-col lg:flex-row justify-end lg:pt-10">
    <%= form.submit "Generate report", class: "btn primary" %>
  </div>
<% end %>