<% recent_reports = Report.owned_by(current_user).recent %>

<%= turbo_frame_tag "recent_reports_owned_by_#{current_user.id}" do %>    
    <% recent_reports.each do |report| %>
      <li class="flex items-start justify-between">
        <%= link_to report_path(report), class: "flex-1 block p-2 text-base font-normal rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700", data: { turbo_frame: "_top" } do %>
          <div class="flex items-center">
            <% case report.status %>
            <% when 'failed' %>
              <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
            <% when 'completed' %>
              <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
            <% when 'processing' %>
              <svg class="w-4 h-4 animate-spin" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
              </svg>
            <% end %>
            <div class="text-ellipsis ml-3">
              <%= report.query %>
            </div>
          </div>
          <div class="text-xs text-gray-500">
            <%= time_ago_in_words(report.created_at) %> ago
          </div>
        <% end %>
        
        <%= button_to report_path(report), 
            method: :delete,
            class: "p-2 text-gray-500 rounded-lg hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-700",
            form: { data: { turbo_confirm: "Are you sure you want to delete this report?", turbo_frame: "recent_reports" } } do %>
          <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path>
          </svg>
        <% end %>
      </li>
    <% end %>
  
    <li>
      <%= link_to new_report_path, class: "flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700", data: { turbo_frame: "_top" } do %>
        <div class="text-center w-full">
          Create new
        </div>
      <% end %>
    </li>
  
<% end %>
